body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

i {
    font-size: 24px;
}

p {
    /* margin/: 0; */
    letter-spacing: 0.5px;
    font-weight: 700;
}

.container {
    width: 400px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px #d3d3d3 solid
}

img {
    max-width: 100%;
}

.logo {
    width: 150px;
}

.profile-img {
    border-radius: 50%;
    width: 50px;
}

.feed-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* background-color: pink; */
}

.feed-profile-desc {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}


.feed-profile-img {
    background-size: cover;
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    /* border: 2px solid grey0; */
}

.feed-profile-username {
    font-weight: bold;
}

.feed-post {
    margin-top: 5px;
}

.feed-post p {
    font-size: 12px;
}

.grey {
    color: grey;
}
